#wrapper{
    text-align: center;
    position: absolute;
    border: 3px solid #fffff0;
    bottom: 3em;
    right: 4em;
    border-radius: 30px;
}
body{
    background-image: url(galaxia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}