#wrapper{
    text-align: center;
    position: absolute;
    border: 3px solid #fffff0;
    bottom: 3em;
    right: 4em;
}
.menu{
    border: #fffff0 solid 2px;
    position: absolute;
    padding-bottom: 15px;
    bottom: 2em;
    width: 20%;
    height: 10%;
}
body{
    background-image: url(galaxia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    text-align: center;
}

ul li a{
    margin-right: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
}
a:hover{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffe8e8;
    font-size: 2rem;
}
table{
	width: 30%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}